{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "next/core-web-vitals",
    "prettier",
  ],
  "plugins": [
      "better-styled-components",
      "sort-destructure-keys",
      "jsx-a11y",
      "@typescript-eslint"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "import/prefer-default-export": "off",
    "better-styled-components/sort-declarations-alphabetically": 2,
    "sort-destructure-keys/sort-destructure-keys": [2, {"caseSensitive": false}],
    "prefer-const": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", "tsx"] }],
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "@typescript-eslint/no-explicit-any": "error"
  },
  "overrides": [
    {
      "files": ["*.test.tsx"],
      "rules": {
        "@typescript-eslint/no-empty-function": "off",
      }
    }
  ],
  "env": {
    "browser": true,
    "jest": true
  }
}
